# Directorios de compilación
build/
out/

# Ficheros de CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeUserPresets.json

# Ficheros de git
.git/
.gitignore

# Ficheros del editor
.vscode/
.idea/

# Logs y ficheros temporales
*.log
